# fly.toml app configuration file generated for microfibre-v1 on 2023-11-08T10:13:53-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "microfibre-v1"
primary_region = "bos"

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/go"]

[env]
  PORT = "8088"

[http_service]
  internal_port = 8088
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[mounts]
  source = "litefs"
  destination = "/var/lib/litefs"
